.total-row-cart{
    display: flex;
    justify-content: center;
}
.remove-all{
    background-color: #f6f6f6;
    border:2px solid red;
    color: #0d0d0d;
    padding: 5px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 16px;
    margin: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.remove-all:hover{
    background-color: red;
    color: black;
}
.total-cart span{
    font-weight: bold;
    color: black;
}