.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #66cc33;
    margin-bottom: 20px;
}
.nav-link{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    text-transform: uppercase;
}
.nav-button{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 5px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #66cc33;
    font-size: 16px;
    margin: 5px;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.nav-button:hover{
    background-color: #66cc33;
    color: white;
}
.logo{
    width: 40px;
    height: auto;
}