.product-wrapper{
    width: 300px;
    height: auto;
    
}
.flex-container{
    height:auto;
    justify-content: center;
    display: flex;
    margin: auto;
    width: 500px;
}
.footercard{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
}
/* .container {
    width: 200px;
    height: 120px;
} */

/* resize images */
.container img {
    width: 100%;
    height: auto;
}
button.cartbutton{
    display: flex;
    margin: auto;
    width: auto;
    height: 20px;
    cursor: pointer;
    border-radius: 14px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
    background-color:  #66cc33;
    border: none;
    font-size: 12px;
    font-weight: 700;
    color: cornsilk;
    transition: all 0.3s linear;
    padding: 4px;
}
button:hover.cartbutton{
    border: 0.5px solid white;
    background-color: white;
    color: #66cc33;;
}
p.cardfooterwrite{
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
    padding-bottom: 10px;
}
.photocontainer span{
    padding-left: 4px;
    font-family: sans-serif;
}